<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-lg="6" offset-lg="3">
        <ion-item class="header" color="primary" lines="none">
          <ion-label class="header-title">Tarefas</ion-label>
        </ion-item>

        <ion-item class="container" lines="none">
          <ion-buttons slot="start">
            <ion-button (click)="addTask()">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-input 
            clearInput 
            placeholder="Ex. Tomar vacina"
            [(ngModel)]="taskName"
            (keyup.enter)="addTask()"
            ></ion-input>
        </ion-item>

        <ion-list class="container" lines="none">
          <ion-item *ngIf="tasks.length === 0">
            <ion-label class="ion-text-center">Oba, minha lista de tarefas está vazia!</ion-label>
          </ion-item>

          <ion-item class="clickable-item" *ngFor="let task of tasks">
            <ion-label class="ion-text-wrap" [ngClass]="{'task-done' : task.isDone}" (click)="toggleTask(task)">
              {{ task.name }}
          </ion-label>

          <ion-buttons slot="end">
            <ion-chip color="primary" slot="end" *ngIf="task.deadline" (click)="agendarTarefa(task)">
              <ion-label>{{ task.deadline | date:'dd/MM' }}</ion-label>
            </ion-chip>

            <ion-button (click)="showMenu(task)">
              <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
          </ion-buttons>


          </ion-item>
        </ion-list>

        <ion-item color="light" lines="none">
          <ion-label class="ion-text-center">© {{ today | date:'yyyy' }} Tarefas - v1.0 | Sobre</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
