<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-lg="6" offset-lg="3">
        <ion-item class="header" color="primary" lines="none">
          <ion-label class="header-title">Tarefas</ion-label>
        </ion-item>

        <ion-item class="container" lines="none">
          <ion-buttons slot="start">
            <ion-button>
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-input clearInput placeholder="Ex. Tomar vacina"></ion-input>
        </ion-item>

        <ion-list class="container" lines="none">
          <ion-item *ngIf="tasks.length === 0">
            <ion-label class="ion-text-center">Oba, minha lista de tarefas está vazia!</ion-label>
          </ion-item>

          <ion-item *ngFor="let task of tasks">
            {{ task }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
